p:after {
    content:"分析";
    background-color:white;
    color: black;
    font-style: bold;
    border: 1px solid #51C332;
    border-radius: 20px;
    padding: 5, 10,5,10;
    border-color: #6ADC96;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    display: block;
}